@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');

@font-face {
    font-family: 'bebas';
    src: url('../fontes/BebasNeue-Regular.otf');
}

@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-android: 'android';
    --font-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-bebas: 'bebas', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    overflow-x: hidden;
    scrollbar-width: none;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrão);
    width: 1150px;
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    min-width: 300px;
    padding-top: 30px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-bebas);
    font-size: 3em;
    text-align: center;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.233);
    margin-bottom: 20px;
}

header > p {
    color: white;
    font-family: var(--font-padrão);
    font-size: 1.2em;
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.247);
 }

 nav > a {
    color: var(--cor1);
    font-family: var(--font-padrão);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;

 }
 
 nav > a:hover {
    color: var(--cor5);
    background-color: var(--cor3);
    border-radius: 5px;
    transition: 0.3s;
 }

 main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    border-radius: 0px 0px 10px 10px ;
 }

 main > h1 {
    font-family: var(--font-android);
    font-size: 1.8em;
    font-weight: normal;
    color: var(--cor5);
 }

 main > h2 {
     font-family: var(--font-android);
     font-weight: normal;
     color: var(--cor4);
     background-image: linear-gradient(to right, var(--cor1), transparent);
     text-indent: 8px;
 }

 main p {
     font-family: var(--font-padrão);
     margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.8em;
 }

 main strong {
    color: var(--cor4);
    font-weight: bold;
 }

 main a {
     color: var(--cor5);
     background-color: var(--cor1);
     font-weight: bold;
     padding: 2px 6px;
     text-decoration: none;
 }

 main a:hover {
    color: var(--cor0);
    background-color: var(--cor4);
    text-decoration: underline;
 }

 main img {
     width: 100%;
 }

 main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
 }

 div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 56.7%;
 }

 div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
 }

 aside {
     background-color: var(--cor1);
     border-radius: 10px;
     font-family: var(--font-padrão);
     box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.356);
     padding: 10px;
 }

aside > h3 {
     color: white;
     background-color: var(--cor4);
     border-radius: 10px 10px 0px 0px;
     padding: 10px;
     margin: -10px -10px 0px -10px;
 }

aside > ul {
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
}

aside a {
    background-color: var(--cor2);
}

footer {
    background-color: var(--cor5);
    font-family: var(--font-padrão);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    color: var(--cor1);
    text-decoration: underline;
}